<div class="row">
  <div class="column">
    <%= back_link_to edit_admin_projekt_path(@projekt_phase.projekt, anchor: "tab-projekt-phases") %>
  </div>
</div>

<div class="row">
  <div class="column">
    <h1>
      <%= @projekt_phase.title %>
    </h1>
  </div>
</div>
