<div class="row">
  <div class="column">
    <%= back_link_to polymorphic_path([@namespace, @projekt_phase.projekt], action: :edit, anchor: "tab-projekt-phases") %>
  </div>
</div>

<div class="row">
  <div class="column">
    <h1>
      <%= @projekt_phase.title %>
    </h1>
  </div>
</div>
