<div class="row">
  <div class="column">
    <div class="static-subnav">
      <% @projekt_phase.admin_nav_bar_items.each do |item| %>
        <%= projekt_phase_navbar_link(item) %>
      <% end %>
    </div>
  </div>
</div>
