<%= render "custom/admin/projekt_phases/heading" %>
<%= render "custom/admin/projekt_phases/nav_bar" %>

<div class="row">
  <div class="column">
    <h2><%= t("custom.admin.projekt_phases.formular.page_title") %></h2>
  </div>
</div>

<div class="row">
  <div class="column">
    Questions
  </div>
</div>

<div class="row">
  <div class="column">
    add question
  </div>
</div>
