<%= render "custom/admin/projekt_phases/heading" %>
<%= render "custom/admin/projekt_phases/nav_bar" %>

<div class="row">
  <div class="column">
    <%= render "admin/milestones/milestones", milestoneable: @projekt_phase %>
  </div>
</div>
