.custom-new-design {
  .resource-page-banner {
    display: flex;
    justify-content: space-between;
    background: #D9F0EB;
    color: $dt-base;
    // padding: 40px 40px;
    padding: 35px 40px;
    border-radius: 10px;
    margin-bottom: 15px;

    &.-proposal, &.-investment {
      background-color: #FFE9CC;
    }

    &.-poll {
      background-color: #EAE4FB;
    }

    &.-deficiencyreport {
      background-color: #fff;
    }

    a {
      color: inherit;
    }

    @media(max-width: $small-tablet-viewport-start) {
      padding: 32px 20px;
      flex-direction: column;
    }

    &.-compact {
      padding: 20px 40px;

      .resource-page-banner--title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .resource-page-banner--image {
        min-height: 170px;
        width: 40%;
      }
    }
  }

  .resource-page-banner--text-section {
    width: 48%;
    display: flex;
    flex-direction: column;

    @media(max-width: $small-tablet-viewport-start) {
      width: 100%;
    }
  }

  .resource-page-banner--image {
    width: 48%;
    min-height: 260px;
    max-height: 260px;
    border-radius: 8px;
    overflow: hidden;

    @media(max-width: $small-tablet-viewport-start) {
      width: 100%;
      margin-top: 20px;
      min-height: unset;
      min-width: unset;
    }

    .resource-image {
      max-height: 260px;
    }
  }

  .resource-page-banner--details {
    margin-bottom: 20px;
  }

  .resource-page-banner--title {
    font-size: 28px;
    margin-bottom: 30px;
    color: inherit;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    @media(max-width: $small-tablet-viewport-start) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  .resource-page-banner--detail {
    display: flex;
    font-weight: 500;
    align-items: center;

    i {
      padding-right: 5px;
    }
  }
}
