<% if @poll.voted_in_booth?(current_user) %>
  <div class="callout warning">
    <%= t("polls.show.already_voted_in_booth") %>
  </div>
<% end %>

<% if can?(:answer, @poll) %>
  <div class="callout warning">
    <%= t("poll_questions.show.withdraw_answers_hint") %>
  </div>

<% else %>
  <% reason = @poll.reason_for_not_being_answerable_by(current_user) %>

  <% if reason.present? %>
    <div class="callout <%= cannot_answer_callout_class(reason) %>">
      <%= cannot_answer_callout_text(reason, @poll.projekt_phase) %>
    </div>
  <% end %>
<% end %>
