// Extract to resource image uploader
.user-resource-image-upload--placeholder {
  position: relative;
  text-align: left;
  height: 100%;
  margin: auto;
  user-select: none;
  background: #e2e2e2;
  transition: background 0.2s ease-in-out;
  border-radius: 10px;

  &:hover {
    background: #dcdcdc;
  }
}


.user-resource-image-upload--placeholder-inner {
  padding-top: 40px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-resource-image-upload--text {
  color: $brand;
  opacity: 0.5;
  line-height: 1.25;

  @media(max-width: $mobile-viewport-start) {
    font-size: 14px;
  }
}

.user-resource-image-upload--plus {
  margin: auto;
  color: $brand;
  font-size: 130px;
  line-height: 1;
  text-align: center;
  width: 135px;
  height: 130px;
  opacity: 0.5;
}

.user-resource-image-upload--label {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-resource-image-upload--label-title {
  font-size: 33px;
  color: $brand;
  opacity: 0.7;
}

.user-resource-image-upload--hint {
  color: $brand;
  opacity: 0.5;
  font-size: 14px;
}
