.sign-in--rember-me {
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid $light-gray-1;
}

.sign-in--links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid $light-gray-1;
  margin-bottom: 25px;

  br {
    display: none;
  }
  a {
    display: block;
    text-align: center;
    // margin-bottom: 5px;
    margin-bottom: 2px;
  }
}
