.direct-image-upload {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .image-preview, figure, img {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }

  .medium-9 {
    width: 100%;
  }

  .form-error {
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding: 12px 20px;
  }
}

.direct-image-upload--progress-bar-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 100;
}

.direct-image-upload--loading-bar {
  height: 5px;
  width: 0;
  transition: width 500ms ease-out;

  &.uploading {
    background-color: green;
  }

  &.complete {
    background-color: $success-color;
  }

  &.errors {
    background-color: $alert-color;
    margin-top: 5px;
  }
}

.direct-image-upload--select-button {
  color: $brand;
  font-size: 33px;
  opacity: 0.7;
  font-weight: 400;
  cursor: pointer;
}

.direct-image-upload--file-attach-area {
  height: 100%;
  cursor: pointer;
  background: #e2e2e2;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #dcdcdc;
  }
}

.direct-image-upload--placeholder {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 40px;
  margin: auto;
  user-select: none;
}

.direct-image-upload--text {
  color: $brand;
  opacity: 0.5;
  line-height: 1.25;
}

.direct-image-upload--file-field {
  bottom: 0;
}

.direct-image-upload--plus {
  margin: auto;
  color: $brand;
  font-size: 130px;
  line-height: 1;
  text-align: center;
  width: 135px;
  height: 130px;
  opacity: 0.5;
}

.direct-image-upload--label {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.direct-image-upload--label-title {
  font-size: 33px;
  color: $brand;
  opacity: 0.7;
}

.direct-image-upload--hint {
  color: $brand;
  opacity: 0.5;
  font-size: 14px;
}

.direct-image-upload--image-actions-area {
  position: absolute;
  bottom: 0;
  background: #0000008a;
  backdrop-filter: blur(15px);
  font-weight: 500;
  width: 100%;
  height: 35px;
  color: white;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;

  .file-name {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .remove-cached-attachment {
    outline: none !important;
  }
}

.direct-image-upload--attachment-errors {
  position: absolute;
  bottom: 0;
  width: 100%;

  .error {
    margin: 0;
    display: block;
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding: 12px 20px;
  }
}


.direct-upload--remove-cached-image {
  color: #cf2a0e;
  cursor: pointer;
}

.direct-image-upload--preview-area {
  width: 100%;
  display: none;

  &.-active {
    display: block;
  }
}

.direct-image-upload--file-title {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent !important;
  border: none !important;
  color: white !important;
  // backdrop-filter: blur(15px) !important;
  font-weight: 500;
  padding: 0;
  height: 100% !important;
  width: 40%;

  &:focus {
    border: none !important;
    box-shadow: none;
  }
}
