.custom-new-design {

  .milestone-item {
    position: relative;
    width: 50%;

    img {
      border-radius: 5px;
    }

    border-right: 1px solid #e2e2e2;
    padding-right: 25px;

    &::after {
      position: absolute;
      content: '';
      width: 23px;
      height: 23px;
      background-color: #218fc8;
      top: 1px;
      right: -12px;
      border-radius: 50%;
    }
  }

  .milestone-item--date {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
