.custom-new-design {
  .milestone-item {
    position: relative;
    width: 50%;

    img {
      border-radius: 5px;
    }

    .milestone-item--date {
      display: flex;
      justify-content: flex-end;
      font-weight: bold;
      color: black;
      font-size: 18px;
      margin-bottom: 10px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: calc(100% - 10px);
      background-color: #e2e2e2;
      top: 17px;
      right: 0;
    }

    &:last-child {
      &::before {
        height: calc(100% - 30px);
      }
    }

    &::after {
      position: absolute;
      content: '';
      width: 23px;
      height: 23px;
      background-color: #218fc8;
      top: 1px;
      border-radius: 50%;
    }

    &:nth-child(odd) {
      padding-right: 25px;

      &::before {
        right: 0;
      }

      &::after {
        right: -11px;
      }
    }

    &:nth-child(even) {
      align-self: self-end;
      padding-left: 25px;

      &::before {
        left: 0;
      }

      &::after {
        left: -11px;
      }

      .milestone-item--date {
        justify-content: flex-start;
      }
    }
      @media(max-width: $mobile-viewport-start) {
        width: 100%;

        .milestone-item--date {
          justify-content: center !important;
          font-size: 20px;
        }

        &::before {
          display: none;
        }
        &:after {
          display: none;
        }
        &:nth-child(odd) {
          padding: 0;
        }
        &:nth-child(even) {
          padding: 0;
        }
        &::before {
        }
      }
  }

  .milestone-item--status {
    width: 100%;
    background-color: $brand;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    min-height: 47px;
    margin-bottom: 22px;

    @media (max-width: $mobile-viewport-start) {
      padding: 10px 20px;
    margin-bottom: 15px;
    }
  }
}
