<% reason = projekt_question.permission_problem(current_user) %>

<% if reason.present? %>
  <div class="callout alert">
    <%= cannot_answer_projekt_question_callout_text(reason, projekt_question.projekt_phase) %>
  </div>
<% end %>
