<main>
  <div class="auth-page-template layout-main-column">
    <div class="auth-page-template--legend">
      <div class="auth-page-template--legend-head">
        <%= image_tag(helpers.topbar_image_path, alt: Setting["org_name"], class: 'auth-page-template--legend-logo') %>
        <div class="auth-page-template--legend-title">
          <%= Setting["org_name"] %>
        </div>
      </div>
      <div class="auth-page-template--legend-text">
        Gestalten Sie die Stadt nach Ihren Vorstellungen! Einmal registriert, haben Sie jederzeit Zugriff auf die Themen, die uns alle bewegen – und können sich aktiv an den Projekten beteiligen.
      </div>
    </div>
    <div class="auth-page-template--form-section">
      <div class="auth-page-template--form-card new-card">
        <div class="auth-page-template--form-wrapper">

          <div class="auth-page-template--body">
            <%= form %>
          </div>
        </div>
      </div>
      <div class="auth-page-template--after-card-container">
        <%= after_card_container %>
      </div>
    </div>
  </div>
</main>
