<% if @projekt_subscription.present? && projekt_feature?(@custom_page.projekt, "sidebar.show_notification_subscription_toggler") %>
  <div id="sidebar-projekt-phase-subscriptions">
    <h2 class="sidebar-title"><%= t("custom.projekts.page.sidebar.phases_subscription.title") %></h2>

    <div class="sidebar-projekt-phase-subscriptions">
      <p>
        <%= t("custom.projekts.page.sidebar.phases_subscription.description") %>
      </p>
      <%= render Shared::ToggleAttributeComponent.new(projekt_subscription, :active, toggle_subscription_projekt_subscription_path(projekt_subscription)) %>
    </div>
  </div>
<% end %>
