.pagination .current,
.top-bar, .categories a:hover, .categories a.is-active,
.geozone a:hover,
.geozone a.is-active, .budget-header, .jumbo-budget .button, .debate-questions .quiz-header .quiz-next:hover, .debate-questions .quiz-header .quiz-next:active, .ui-datepicker-header, .ui-datepicker-calendar .ui-state-hover,
.ui-datepicker-calendar .ui-state-active, .budget-phases .tabs-controls .budget-prev-phase,
.budget-phases .tabs-controls .budget-next-phase,
.budget-phases .tabs-controls .budget-prev-phase-disabled,
.budget-phases .tabs-controls .budget-next-phase-disabled {
  background-color: $white;
  color: $dark;
}

.top-bar {
  padding-top: 1em;
  padding-bottom: .5em;
}

.top-bar .top-bar-title a img {
  width: 250px;
}

h2.header-title {
  display: none;
  font-weight: 400;
}

#responsive-menu div.subnavigation.row {
  left: 8px;
}

@media screen and (min-width: 40em) {
  h2.header-title {
    display: block;
  }

  .top-bar-title {
    margin-right: 0;
  }
}
