header {
  margin-bottom: 0;
}

.top-links {
  .row {
    height: 0;
  }
}

.top-bar {
   height: 72px;
   justify-content: flex-start;

  .logo-image {
    align-self: flex-end;
    width: 110px;
    margin-bottom: -6px;

    a {
      display: flex;
    }
  }

  .logo-text {
    width: 185px;
    margin-left: .5em;
  }

  #responsive-menu {
    flex-grow: 1;
  }

  .menu {
    justify-content: flex-end;
  }
}

#navigation_bar {
  background: $dark;
  border-top: 2px solid #005a9f;

  li {
    margin-right: 0;
  }
}

.subnavigation a {
  color: $white;
  line-height: 1rem;
  font-weight: normal;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.2em 0.5em;
  border-bottom: 2px solid $dark;
}

.subnavigation a:hover {
  color: $white;
  border-bottom: 2px solid #FFE400;
  text-decoration: none;
}

.official-logo-wrapper {
  margin-top: 2em;
  float: right;
}

.help-header {
  margin-top: 0;
}

#navigation_bar .flyout-item-name {
  color: $white;
  font-weight: normal;
  position: relative;
  line-height: 2.5rem;
  padding: 0.2em 0.5em;
}

#navigation_bar li.flyout-item {
  background: $dark;
}

#navigation_bar .flyout-item-name a {
  padding: 0.2em 0;
}
