.tabs .tabs-title {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.callout.primary {
  color: #222;
}

.js-access-top-level-menu:focus,
.js-access-flyout-menu-item:focus {
  outline: 3px solid #ffbf47 !important;
}

// Login buttons

.button-bayern_id,
.button-m_login,
.button-keycloak_google,
.button-bayern_id:active,
.button-m_login:active,
.button-keycloak_google:active,
.button-bayern_id:focus,
.button-m_login:focus,
.button-keycloak_google:focus,
.button-bayern_id:hover,
.button-m_login:hover,
.button-keycloak_google:hover {
  color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-color: #F4F4F4 !important;
}

.button-bayern_id {
  background-image: image-url('bayern_id.png');
}

.button-m_login {
  background-image: image-url('m_login');
}

.button-m_login:hover {
  background-image: image-url('m_login_hover');
}

.button-keycloak_google {
  background-image: image-url('keycloak_google.png');
}
