.tabs .tabs-title {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.callout.primary {
  color: #222;
}

.js-access-top-level-menu:focus,
.js-access-flyout-menu-item:focus {
  outline: 3px solid #ffbf47 !important;
}
