.position-relative {
  position: relative;
}

.hero-wrapper {
  position: relative;

  .hero-content {
    position: absolute;
    width: 100%;
    top: 10%;

    @media screen and (min-width: 40em) {
      top: 30%;
    }
  }

  video {
    margin-top: -25px;
    width: 100%;
  }

  .hero-text,
  .hero-cta {
    position: absolute;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    left: initial;

    @media screen and (min-width: 64em) {
      font-size: 2.5rem;
    }

    @media screen and (min-width: 1260px) {
      left: -0.5em;
    }
  }

  .hero-text {
    background: #FFFFFFAA;
    color: $brand;
    font-weight: bold;

    span {
      display: block;
      font-weight: normal;
    }
  }

  .hero-cta {
    background: $brand;
    color: $white;
    padding: 0.1rem 2rem;
    top: 120px;

    @media screen and (min-width: 64em) {
      top: 180px;
    }
  }
}
