.position-relative {
  position: relative;
}

.hero-wrapper {
  position: relative;
  height: 250px;
  margin-top: -24px;
	background-image: url(lhm.jpg);
	background-position: center;
	background-size: cover;

	@media screen and (min-width: 40em) {
		background-image: none;
		height: initial;
	}

  .hero-content {
    position: absolute;
    width: 100%;
    top: 10%;

    @media screen and (min-width: 40em) {
      top: 30%;
    }
  }

  video {
    width: 100%;
    display: none;

    @media screen and (min-width: 40em) {
      display: block;
    }


  }

  video::-webkit-media-controls-timeline,
  video::-webkit-media-controls-current-time-display,
  video::-webkit-media-controls-time-remaining-display,
  video::-webkit-media-controls-volume-slider,
  video::-webkit-media-controls-mute-button,
  video::-webkit-media-controls-fullscreen-button {
      display: none;
  }

  .hero-text,
  .hero-cta {
    position: absolute;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    left: initial;

    @media screen and (min-width: 64em) {
      font-size: 2.5rem;
    }

    @media screen and (min-width: 1260px) {
      left: -0.5em;
    }
  }

  .hero-text {
    background: #FFFFFFAA;
    color: $brand;
    font-weight: bold;
    margin-right: 55px;

    @media screen and (min-width: 40em) {
			margin-right: initial;
    }

    span {
      display: block;
      font-weight: normal;
    }
  }

  .hero-cta {
    background: $brand;
    color: $white;
    padding: 0.1rem 2rem;
    top: 120px;
    cursor: pointer;
    text-decoration: none;
    display: none;

    @media screen and (min-width: 40em) {
      display: block;
    }

    @media screen and (min-width: 64em) {
      top: 180px;
    }
  }
}
