<div class="row">
  <div class="small-12 column">
    <%= back_link_to admin_individual_group_path(@individual_group_value.individual_group) %>

    <h1><%= t("custom.admin.individual_group_values.edit.title") %></h1>

    <%= render "form", individual_group_value: @individual_group_value %>
  </div>
</div>
