.mobile-fixed-on-bottom-action {
  width: 100%;

  @media(max-width: $small-tablet-viewport-start) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;

    .user-resources-form--submit-section--privacy-policy {
      font-size: 16px !important;
      padding-bottom: 5px !important;
    }

    .new-resource-cta {
      padding: 0 20px;
    }

    .button {
      // margin: auto;
      margin-left: auto;
      margin-right: auto;
    }

   .sidebar-card {
      margin: 0;
      border-radius: 0;
    }
    .sidebar-card--title {
      display: none;
    }

    .sidebar-card--content {
      display: block !important;
    }

    .progress {
      margin-bottom: 5px;
    }

    .in-favor-against, .votes {
      .button {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
      }
    }
    .sidebar-card--section {
      padding: 5px 20px;
    }
    .in-favor-against .percentage {
      line-height: 2;
    }
    .votes .total-votes {
      margin-top: 0;
    }
  }
}
