.custom-new-design {
  .sidebar-resource-author {
    overflow: hidden;
    border-radius: 15px 15px 10px 10px;
  }

  .sidebar-resource-author--background-image {
    height: 85px;
    background-color: #8ab1de;
    width: 100%;
    overflow: hidden;
  }

  .sidebar-resource-author--avatar {
    background-color: black;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-top: -48px;
    border: 3px solid white;
    margin-bottom: 8px;
    overflow: hidden;

    .sidebar-resource-author--avatar-placeholder {
      color: white;
      height: 100%;
      font-size: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .sidebar-resource-author--info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-resource-author--registration-date {
    font-weight: 500;
    font-size: 14px;
  }

  .sidebar-resource-author--name {
    font-weight: bold;
    font-size: 18px;
    color: black;
  }

  .sidebar-resource-author--resources {
    border-top: 1px solid $border-color;
    width: 100%;
    margin-top: 12px;
    padding: 18px 25px;
    padding-right: 28px;
    padding-bottom: 30px;
  }

  .sidebar-card--count-line {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    color: inherit;
  }
}
