.sidebar-users-list--count {
  position: absolute;
  left: 150px;
  top: 0;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.homepage-users-list {
  position: relative;
}

.sidebar-users-list--images {
  display: flex;
  justify-content: flex-start;
}

.sidebar-users-list--image {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid white;
  overflow: hidden;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.sidebar-users-list--image:first-child {
  position: static;
}

.sidebar-users-list--image:nth-child(2) {
  left: -15px;
}

.sidebar-users-list--image:nth-child(3) {
  left: -30px;
}

.sidebar-users-list--image:nth-child(4) {
  left: -45px;
}

.sidebar-users-list--image:nth-child(5) {
  left: -60px;
}
