.custom-new-design {
  .auth-page-template--oauth {
    .row {
      display: flex;
      // justify-content: center;
      flex-wrap: wrap;
      column-gap: 18px;
    }
    .column {
      &:first-child {
        width: 100%;
      }
      width: 150px;

      @media(max-width: $small-tablet-viewport-start) {
        width: auto;
        width: 47%;
        // flex-grow: 1;
        // max-width: 100px;
      }
    }

    .auth-divider {
      width: 100%;
      margin-bottom: 0;
      margin-top: 0;
      border-top: none;

      span {
        display: none;
      }
    }

    .button {
      margin-bottom: 5px !important;
      margin-top: 5px !important;
      border-left: none;
      border-radius: 7px;

      &::before {
        font-size: 1.5rem;
        margin-right: 3px;
        display: block;
        min-width: 30px;
      }

      &:hover {
        color: black;
      }
    }

    .button-twitter:hover {
      background: #d4e9f3;
    }

    .button-facebook:hover {
      background: #d1d8e7;
    }

    .button-google:hover {
      background: #efd4cf;
    }

    .button-wordpress:hover {
      background: #c9ccda;
    }

    strong {
      display: none;
    }
  }

  .auth-inputs-title {
    color: inherit;
  }

  .auth-page-template {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 95%;
    margin: auto;
    font-weight: 500;

    @media(max-width: $small-tablet-viewport-start) {
      flex-direction: column;
      width: 100%;
    }

    form .checkbox, form .radio {
      font-weight: 500;
    }

    .margin-bottom {
      margin-bottom: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    input::placeholder, select {
      font-weight: 500;
    }

    .auth-page-button, .button, button, input[type="submit"] {
      max-width: 300px;
      height: 50px;
      font-size: 20px;
      margin-left: auto !important;
      margin-right: auto !important;

      @media(max-width: $small-tablet-viewport-start) {
        font-size: 16px;
        // max-width: 115px;
        width: 100%;
      }
    }
  }

  .auth-page-template--legend-title {
    font-size: 32px;
    color: black !important;
    line-height: 1;
    margin-top: -4px;
  }

  .auth-page-template--legend {
    width: 48%;

    @media(max-width: $small-tablet-viewport-start) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .auth-page-template--legend-logo {
    width: 80px;
    margin-right: 30px;
  }

  .auth-page-template--legend-head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 50px;

    @media(max-width: $small-tablet-viewport-start) {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 0;
    }
  }

  .auth-page-template--legend-text {
    color: black;
    font-size: 25px;
    line-height: 1.25;

    @media(max-width: $small-tablet-viewport-start) {
      font-size: 20px;
    }
  }

  .auth-page-template--form-section {
    width: 48%;
    color: $main-text-color;
    font-size: 16px;

    a:not(.button), label {
      color: $main-text-color;
    }

    @media(max-width: $small-tablet-viewport-start) {
      width: 100%;
      max-width: 500px;
      margin: auto;
    }
  }

  .auth-page-template {
    h1, h2 {
      margin-bottom: 15px;
    }
  }

  .auth-page-template--form-card {
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;

    @media(max-width: $mobile-viewport-start) {
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    h2 {
      @media(max-width: $small-tablet-viewport-start) {
        margin-bottom: 0;
      }
    }

    label:not(.checkbox-label) {
      display: none;
    }

    input[type='text'], input[type='password'], input[type='date'],
    input[type='datetime'], input[type='datetime-local'], input[type='month'],
    input[type='week'], input[type='email'], input[type='number'], input[type='search'],
    input[type='tel'], input[type='time'], input[type='url'], textarea, form [type]:not([type="button"], [type=checkbox], [type=file], [type=radio], [type=submit]),
    select {
      height: 45px;
      max-height: 45px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 7px;
    }

    .options-group {
      label {
        display: block;
      }
    }
  }
  .auth-page-template--after-card-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .auth-page-template--divider {
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

