<div class="row">
  <div class="small-12 column">
    <%= back_link_to admin_individual_groups_path %>

    <h1><%= t("custom.admin.individual_groups.new.title") %></h1>

    <%= render "form", individual_group: @individual_group %>
</div>
