.new-custom-design {
  .resource-image {
    height: 100%;
    width: 100%;
    background: #dcdcdc;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .resource-image--main {
    height: 100% !important;
    width: auto;
    object-fit: cover;
    margin: auto;
    z-index: 10;
  }

  .resource-image--blur {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(5px);
    transform: scale(1.2);
    z-index: 5;
  }

  .resource-image--missing-image-placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    flex-direction: column;
    color: $main-text-color;
  }

  .resource-image--missing-image-placeholder-icon {
    font-size: 80px;
    margin-bottom: 10px;
  }
}
