<div class="map proposals-map not-print">
  <% if @selected_parent_projekt %>
    <%= render Shared::MapComponent.new(
      map_location: @selected_parent_projekt.map_location,
      parent_class: "proposals",
      process_coordinates: @proposals_coordinates,
      projekt: @selected_parent_projekt,
      show_admin_shape: @selected_parent_projekt.map_location.show_admin_shape?
    ) %>

  <% else %>
    <%= render Shared::MapComponent.new(
      parent_class: "proposals",
      process_coordinates: @proposals_coordinates
    ) %>

  <% end %>
</div>
<div class='expand-overview-map-wrapper'>
  <div class='expand-overview-map small js-expand-overview-map not-print wide'>
    <%= t('custom.proposals.index.show_larger_map') %>
  </div>
</div>
<div class="clear"></div>
<div class="no-bullet margin-top">
</div>
