.admin {
  .images {
    background: #e7f2fc;
    padding-top: 2rem;

    input {
      display: none;
    }
  }

  .icons-selector {
    column-count: 10;
  }
}

.officing-offline-ballots {
  @media screen and (min-width: 75em) {
    .budget-heading::before,
    .jumbo-budget::after {
      left: 0;
      right: 0;
    }
  }
}

.show-projekt-dates-in-frontend-checkbox {
  margin-bottom: 20px;

  input[type=checkbox] {
    margin-top: 0;
  }
}


// Options

.option-group-title {
  font-weight: bold;
  margin-bottom: 10px;
}

// Config block

.config-block {
  background-color: $white;
  padding: 2rem;
  border: 1px solid #afafaf;
  margin-bottom: 3rem !important;

  .image .attachment-errors > .js-image-attachment {
    display: none;
  }
}

// Table

.bold-on-hover {
  transition: font-weight 0.2s ease-in-out;

  &:hover {
    font-weight: bold;
  }
}
