.statistic-cookie-modal {
  padding: 2em;
}

.statistic-cookie-modal--text {
  margin-bottom: 20px;
}

.statistic-cookie-modal--actions-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.statistic-cookie-modal--option-caption {
  font-size: 12px;
}

.statistic-cookie-modal--option-row {
  margin-bottom: 15px;

  input[type="checkbox"] {
    margin: 0;
  }
}


