// Menu variables

$brand-dark:                                      #005a9f;
$yellow:                                          #FFE400;

$top-level-menu-item-text-color:                  $white;
$top-level-menu-background-color:                 $brand-dark;

$flyout-item-text-color:                          $white;
$flyout-item-bg-color:                            $brand-dark;
$flyout-block-border-color:                       #dee0e3;
$flyout-item-divider-color:                       lighten($flyout-block-border-color, 5%);
$flyout-item-projekt-modules-links-color:         $flyout-item-text-color;

$flyout-item-line-height:                         1.5rem;
$flyout-item-projekt-min-height:                  60px;

$responsive-menu-text-color:                      $white;
$responsive-menu-background-color:                $brand-dark;
