.comment-list .comment-body {
  background: #f8f8f8;
}

.comment-list,
.comment-list .comment-list {
  border-left: 2px solid #d3d3d3;
  padding-left: 2rem;
}

.comment-body .comment-user.is-admin {
  background: #f7eed0;
}

.comment-votes {
  .comment-votes-controls {
    display: inline;
  }

  .participation-not-allowed {
    padding: 0.5rem;
  }
}

// disabled comment vote buttons

.comment-votes button:disabled,
.comment-votes .in-favor button:disabled:hover,
.comment-votes .against button:disabled:hover {
  color: #4a4a4a;
}

.comment-votes button:disabled:active {
  outline: none;
}

// Voted up or down
.comment-votes .in-favor button.voted_up {
  color: #7bd2a8;
}

.comment-votes .against button.voted_down {
  color: #ef8585;
}

.comment-form {
  .checkbox-label {
    margin-right: 15px;

    .checkbox {
      user-select: none;
      cursor: pointer;
    }
  }
}
