.klaro {
  .cookie-modal {
    .cn-ok {
      .cm-btn.cm-btn-info {
        padding: 10px;
        background-color: $accent;
        flex-grow: 1;
        min-height: 3rem;
      }

      .cm-btn.cm-btn-success {
        padding: 10px;
        background-color: $brand;
        min-height: 3rem;
      }
    }

    .cm-footer {
      .cm-footer-buttons {
        .cm-btn.cm-btn-info {
          background-color: $accent;
        }
        .cm-btn.cm-btn-accept-all {
          background-color: $brand;
        }
      }
    }
  }
}
