.klaro .cookie-modal .cm-list-input:checked+.cm-list-label .slider {
  background-color: #0085eb !important;
}

.klaro {
  .cookie-modal {
    z-index: 4999 !important;

    .cn-ok {
      .cm-btn.cm-btn-info {
        padding: 10px;
        background-color: #0085eb;
        flex-grow: 1;
        min-height: 3rem;
      }

      .cm-btn.cm-btn-success {
        padding: 10px;
        background-color: #005a9f;
        min-height: 3rem;
      }
    }

    .cm-footer-buttons {
      .cm-btn.cm-btn-info {
        background-color: #0085eb;
      }

      .cm-btn.cm-btn-accept-all {
        background-color: #005a9f;
      }
    }

    a {
      color: #005a9f !important;
    }
  }
}
