.klaro {
  .cookie-modal-notice {
    .cn-ok {

      .cm-btn-lern-more {
        padding: 10px;
        background-color: $brand;
        flex-grow: 1;
        min-height: 3rem;
      }

      .cm-btn-success {
        padding: 10px;
        min-height: 3rem;
      }
    }
  }
}
