.top-links {
  .row {
    height: 0;
  }
}

.top-bar {
   height: 72px;
   justify-content: flex-start;

  .logo-image {
    align-self: flex-end;
    width: 110px;
    margin-bottom: -6px;

    a {
      display: flex;
    }
  }

  .logo-text {
    width: 185px;
    margin-left: .5em;
  }

  #responsive-menu {
    flex-grow: 1;
  }

  .menu {
    justify-content: flex-end;
  }
}

#navigation_bar {
  background: $dark;
  border-top: 2px solid #005a9f;

  li {
    margin-right: 0;
  }
}

.subnavigation a {
  color: $white;
  line-height: 1rem;
  font-weight: normal;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.2em 0.5em;
  border-bottom: 2px solid $dark;
}

.subnavigation a:hover {
  color: $white;
  border-bottom: 2px solid #FFE400;
  text-decoration: none;
}

.official-logo-wrapper {
  margin-top: 2em;
}



// Review styles
.ssb-linkedin{
  background: #0e76a8;
  background-image: none !important;
  color: #fff;
  height: $line-height * 2 !important;
  position: relative;
  width: $line-height * 2 !important;
  &::before {
    content: '#';
    font-family: "icons" !important;
    font-size: 1.5rem;
    left: 50%;
    line-height: 3rem;
    margin-left: -0.6875rem;
    position: absolute;
    top: 0;
  }
  &:hover,
  &:focus {
    background: #fff;
    color: #0e76a8;
  }
}

@include breakpoint(medium) {	
  .button.button-telegram,	
  .ssb-telegram {	
    display: inline-block !important;	
  }	
}
