.map-layer {
  position: relative;

  .edit-map-layer,
  .delete-map-layer {
    position: absolute;
    top: 5px;
    color: #004a83;

    &:hover {
      color: #00101d;
    }
  }

  .edit-map-layer {
    right: 30px;
  }

  .delete-map-layer {
    right: 10px;
    top: 8px;
    cursor: pointer;
  }
}

.map-layer-form {
  border: 1px solid gainsboro;
  padding-top: 25px;
  border-radius: 5px;

  .checkboxes {
    margin-bottom: 20px;

    span.checkbox {
      font-weight: normal;
    }
  }
}
