.fa-location-dot:before {
  content: "\f3c5";
}

.notice-text {
  margin-right: 30px;
}

.callout {
  border-radius: 8px;
  padding-right: 12px;

  .close-button {
    top: 12px;
    color: inherit;
    font-size: 35px;
    margin-left: 10px;

    span {
      font-family: sans-serif;
      line-height: 0.6;
      height: 30px !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.notice-container .notice {
  display: flex;
  min-height: 5px;
  font-size: 16px;
}
