<div class="related-content padding">
  <% if @related_contents.present? %>
    <h5 class="inline-block">
      <%= t("related_content.title") %>&nbsp;<span>(<%= relationable.relationed_contents.count %>)</span>
    </h5>

    <%= render Relationable::RelatedListComponent.new(relationable) %>
  <% end %>

  <% if current_user %>
    <%= render "relationable/form", relationable: relationable %>
  <% end %>
</div>
