<%= render 'shared/loader_spinner' %>

<div class="flex-layout">
<div class="main-column">
  <%= render Projekts::ProjektEvents::List.new(projekt_events: @projekt_events) %>
</div>
<div class="sidebar-placeholder"></div>
</div>

