<%= render "shared/loader_spinner" %>

<div class='row'>
  <div id="formular-sidebar" class="small-12 medium-3 column">
    <aside class="margin-bottom">
    </aside>
  </div>

  <div id="formular" class='spinner-placeholder small-12 medium-9 column'>
    <div class='row'>
    </div>
  </div>
</div>
