<div class="projekt-livestream-section">
  <div class="column">
    <%= render(ProjektLivestreams::ShowSection.new(current_projekt_livestream: @current_projekt_livestream, other_livestreams: @other_livestreams)) %>
  </div>
</div>
