<%= render 'shared/loader_spinner' %>

<% if @projekt_phase.phase_activated? %>
  <div class="projekt-questions-container js-projekt-questions-container">
    <% if @projekt_phase.question_list_enabled? %>
      <% if @projekt_questions.any? %>
        <%= render "custom/projekts/partials/projekt_question_list", projekt: @projekt, projekt_questions: @projekt_questions %>
       <% else %>
        <div class="callout primary">
          Aktuell ist ist keine Frage vorhanden
        </div>
      <% end %>
    <% else %>
      <% if @projekt_question.present? %>
        <%= render "custom/projekts/partials/projekt_question", projekt: @projekt, projekt_question: @projekt_question, projekt_question_answer: @projekt_question_answer %>
      <% else %>
        <div class="callout primary">
          Aktuell ist ist keine Frage vorhanden
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class='callout alert'>
    Die Phase ist nicht aktiviert
  </div>
<% end %>
