<h2><%= t("custom.admin.settings.index.extra_fields_titles.registration") %></h2>
<%= render "extended_features_table", features: @extra_fields_registration, tab: "#tab-exta-fields" %>


<h2><%= t("custom.admin.settings.index.extra_fields_titles.verification") %></h2>
<%= render "extended_features_table", features: @extra_fields_verification, tab: "#tab-extra-fields" %>

