<td style="<%= css_for_mailer_content %>">
  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      @follow_up_letter.body
    ) %>
  </p>

  <% if @follow_up_letter.show_follow_up_button? %>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td style="padding-bottom: 12px; text-align: center;">
            <%= link_to(
              t("mailers.formular_follow_up_letter.button_text"),
              page_url(@projekt_phase.projekt.page.slug, projekt_phase_id: @projekt_phase.id, token: @recipient.subscription_token, anchor: "filter-subnav"),
              style: css_for_mailer_button
            ) %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</td>
