<div class="custom-collapse <%= "-opened" if @opened_by_default %> ">
  <div class="custom-collapse--head js-collapse-head">
    <%= head %>
    <div class="icon-chevron-down">
    </div>
  </div>
  <div class="custom-collapse--body js-collapse-body">
    <%= body %>
  </div>
</div>
