<div class="dropdown-container js-dropdown" data-name="<%= @name %>">
  <div class="dropdown-toggle js-dropdown-toggle click-dropdown">
    <%= selected_option.presence || options.first %>
  </div>
  <div class="dropdown-menu">
    <div>
      <% options.each do |option| %>
        <div class="js-dropdown-item dropdown-item <%= @item_css_class %>" >
          <%= option %>
        </div>
      <% end %>
    </div>
  </div>
</div>
