<% if show_new_button? && permission_problem_key.present? %>
  <div class="callout warning">
    <%= permission_problem_message(permission_problem_key) %>
  </div>
<% elsif show_new_button? %>
  <%= new_button_html %>
<% end %>
