<div class="sidebar-card">
  <div class="sidebar-card--section">
    <% if @title.present? %>
      <h4 class="sidebar-card--header">
        <i class="fas fa-<%= @icon_name %>"></i>
        <%= @title %>
      </h4>
    <% end %>

    <%= body %>
  </div>

  <% if additional_sections.present? %>
    <% additional_sections.each do |additional_section| %>
      <div class="sidebar-card--separator"> </div>
      <div class="sidebar-card--section">
        <%= additional_section %>
      </div>
    <% end %>
  <% end %>
</div>
