<div class="vcmap-container map_location map">
  <%= map_div %>
  <div id="map-overlay" class="map-overlay">
    <button onclick="event.preventDefault();App.VCMap.zoom(window.vcsApp.maps.activeMap)">zoom in</button>
    <button onclick="event.preventDefault();App.VCMap.zoom(window.vcsApp.maps.activeMap, true)">zoom out</button>
  </div>
  <div id="controls" class="controls">
    <button onclick="event.preventDefault();App.VCMap.setActiveMap(window.vcsApp.maps, 'ol3')">2D</button>
    <button onclick="event.preventDefault();App.VCMap.setActiveMap(window.vcsApp.maps, 'cesium')">3D</button>
    <% if editable %>
      <button onclick="event.preventDefault();App.VCMap.drawFeature(window.vcsApp, vcs.GeometryType.Point)">draw point</button>
      <button onclick="event.preventDefault();App.VCMap.drawFeature(window.vcsApp, vcs.GeometryType.Polygon)">draw polygon</button>
      <button onclick="event.preventDefault();App.VCMap.clearFeatures(window.vcsApp)">clear features</button>
    <% end %>
  </div>
</div>
