<div class="milestones-list">
  <%= render Shared::CollapseComponent.new do |c| %>
    <% c.head do %>
      <h3>
        Meilensteine - von der Verwaltung gesetzt (<%= @milestones.count %>)
      </h3>
    <% end %>

    <% c.body do %>
      <%= render "milestones/progress_bars", milestoneable: @milestoneable %>
      <section class="milestones-list-timeline">
        <% @milestones.each do |milestone| %>
          <%= render Proposals::MilestoneItemComponent.new(milestone: milestone) %>
        <% end %>
      </section>
    <% end %>
  <% end %>
</div>
