<div class="milestones-list">
  <%= render "milestones/progress_bars", milestoneable: @milestoneable %>

  <h3>
    Meilensteine - von der Verwaltung gesetzt (<%= @milestones.count %>)
  </h3>

  <section class="milestones-list-timeline">
    <ul class="no-bullet">
      <% @milestones.each do |milestone| %>
        <%= render Proposals::MilestoneItemComponent.new(milestone: milestone) %>
      <% end %>
    </ul>
  </section>
</div>
