<% if show_link? %>
  <%= link_to t("proposals.index.start_proposal"), new_proposal_path( link_params_hash ),
              class: "button expanded js-preselect-projekt",
              data: { turbolinks: false } %>

<% elsif @current_tab_phase.present? %>
  <% if user_signed_in? && !current_user.level_three_verified? %>
    <div class="callout warning">
      <%= sanitize(t("custom.votes.not_verified",
            verify_account: link_to_verify_account)) %>
    </div>
  <% elsif !user_signed_in? %>
    <div class="callout warning">
      <%= sanitize(t("users.login_to_continue",
            signin: link_to_signin, signup: link_to_signup)) %>
    </div>
  <% end %>

<% else %>
  <%= link_to t("custom.proposals.index.no_active_projekt"), '#', class: "button expanded disabled-no-active-projekt", disabled: true %>
<% end %>
