<%= render(Resources::ListItemComponent.new(component_attributes)) do |c| %>
  <% c.footer_section do  %>
    <div class="mb-5">
      <%= link_to('Teilnehmen', helpers.poll_path(poll), class: 'button -purple') %>
    </div>
    <%= helpers.poll_remaining_activity_days(poll) %>
  <% end %>
<% end %>
