<%= back_link_to %>

<h2>
  <%= t("admin.answers.videos.edit.title") %>
</h2>

<div class="poll-question-answer-video-form">
  <%= render "admin/poll/questions/answers/videos/form", form_url: polymorphic_path([@namespace, @video]) %>
</div>
