<div class="new-card -no-padding users-profile-banner">
  <div class="users-profile-banner--background-image">
  </div>
  <div class="users-profile-banner--avatar">
    <%= @user.name.chars.first.upcase %>
  </div>
  <div class="users-profile-banner--info">
    <div class="users-profile-banner--name">
      <%= @user.full_name %>
    </div>
    <div class="users-profile-banner--info-line">
      Beigetreten am: <%= l(@user.created_at, format: :date_only) %>
    </div>
    <div class="users-profile-banner--info-line">
      <% if @user.level_three_verified? %>
        <span class="icon-check"></span>
        <%= t("account.show.verified_account") %>
      <% else %>
        Konto ist nicht verifiziert
      <% end %>
    </div>
  </div>
</div>
