<h2><%= t("custom.admin.projekts.edit.projekt_livestreams_tab.page_title") %></h2>

<%= render partial: "custom/admin/projekts/edit/projekt_livestreams/form", locals: { url: admin_projekt_projekt_livestreams_path(@projekt), projekt: @projekt, livestream: @projekt_livestream } %>

<div class='margin-top'>
  <% if @projekt_livestreams.present? %>
    <h3 class="projekt-all-livestream-list"><%= t("custom.admin.projekts.edit.projekt_livestreams_tab.all_livestreams") %></h2>
  <% end %>

  <% @projekt_livestreams.each do |livestream| %>
    <%= render "admin/projekts/edit/projekt_livestreams/projekt_livestream", livestream: livestream %>
  <% end %>
</div>
