$border-color: #d9d9d9;
$border: $border-color;
$medium-gray-2: #d3d3d3;
$light-gray-1: #e5e5e5;
$main-text-color-hover: #c7d5e2;

$main-text-color: #67788A;
$dropdown-hover-color: #f2f2f2;
$dropdown-active-color: darken(#f2f2f2, 2%);
