$medium-gray-2: #d3d3d3;
$light-gray-1: #e5e5e5;
$main-text-color: #67788A;
$main-text-color-hover: #c7d5e2;
$big-tablet-viewport-start: 1245px;
$small-tablet-viewport-start: 970px;
$mobile-viewport-start: 640px;
$mobile-side-padding: 20px;
