.custom-new-design {
  .button {
    height: 37px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 6px;
    transition: background-color 0.1s ease;

    .icon {
      padding-right: 5px;
    }

    &:hover, &:focus {
      background-color: #005699;
      color: white;
    }

    &.-grey {
      background: #c0cedb;
      color: black;

      &:hover {
        background-color: #d1deeb;
      }
    }

    &.-orange {
      background: #FFA42D;
      color: black;
    }

    &.-purple {
      background: #EAE4FB;
      color: black;
      &:hover, &:focus {
        background-color: #dad2f0;
      }
    }

    &.hollow {
      &:hover, &:focus {
        background: #E1EDF7;
        color: #004a83;
      }
    }
  }

  .icon {
    margin-right: 5px;
  }

  .submit-button {
    font-size: 18px;
    height: 45px;
  }
}
