$brand:                                           #003a71 !default;
$secondary:                                       lighten($brand, 70%);
$dark:                                            darken($brand, 10%);

$border-color: #d9d9d9;
$border: $border-color;

$dark-gray: #8a8a8a !default;

$alert-color: #cc4b37;
$primary-color: #1779ba;
$secondary-color: #767676;
$success-color: #3adb76;
$warning-color: #ffae00;

$main-text-color: #67788A;
$dropdown-hover-color: #f2f2f2;
$dropdown-active-color: darken(#f2f2f2, 2%);
