.custom-new-design {
  .deficiency-report-category {
    padding: 0.05rem 0.3rem;
    border-radius: 4px;
    font-size: 0.8rem;

    i {
      font-size: 0.8rem;
      padding-right: unset !important;
    }
  }
}
