.custom-new-design {
  .footer {
    margin-top: 50px;
    width: 100%;
    max-width: 100%;

    @media(max-width: $big-tablet-viewport-start) {
      padding: 20px;
    }
  }

  .footer::before {
    left: 0;
    right: 0;
  }
}
