.custom-new-design {
  .polls-results-stats.participation-stats {
    .section-title {
      border-bottom: 0;
    }

    .stats-content {
      @media print, screen and (min-width: 40em) {
        border-left: 0;
      }
    }

    span.number {
      color: #222;
    }
  }

  .results-table {
    td.win {
      font-weight: bold;
      background: #ccedf8;
    }
  }

  label[for="poll_answer_open_answer_text"] {
    display: none;
  }

  .poll-open-answer-form {
    display: flex;
    max-width: 750px;

    input[type="submit"] {
      margin-left: 20px;
    }

    @media(max-width: $mobile-viewport-start) {
      flex-direction: column;

      input[type="submit"] {
        margin-left: 0;
      }
    }
  }

  .poll-question--nested-question {
    &.-rating-scale {
      .poll-question--nested-question-title {
        min-width: 250px;
        max-width: 250px;
      }
    }
  }
}

.menu.poll-results-menu {
  margin-top: 25px;
  padding-top: 0;

  li {
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
}

.results-table-wrapper table.results-table {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid $border-color;

  tr td {
    padding: 0.75rem 1.5rem;
    padding-left: 1.7rem;
  }

  .poll-results-additional-stats {
    width: 100px;
  }
}

.poll-question-result {
  &.-nested {
    h3 {
      font-size: 18px;
      font-weight: 500;

    }

    .results-table-wrapper {
      margin-bottom: 15px;
    }
  }

  &.-bundle-question {
    background: #ebebeb;
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 5px;

    h3 small {
      color: #939393;
    }
  }
}
