.custom-new-design {
  .polls-results-stats.participation-stats {
    .section-title {
      border-bottom: 0;
    }

    .stats-content {
      @media print, screen and (min-width: 40em) {
        border-left: 0;
      }
    }

    span.number {
      color: #222;
    }
  }

  .results-table {
    td.win {
      font-weight: bold;
      background: #ccedf8;
    }
  }

  label[for="poll_answer_open_answer_text"] {
    display: none;
  }
}
