.filter-projekts-active {
  margin-bottom: 10px;
}

.projekt-footer-navigation::after {
  width: 100;
  left: 0;
  right: 0;
}

@media (max-width: $small-tablet-viewport-start) {
  .projekt-footer-navigation {
    .projekt-footer-title {
      display: none;
    }
  }
}
