.new-custom-design {
  .resource-item {
    display: flex;
    flex-direction: column;
    // max-height: 480px;
    // width: 330px;
    width: 300px;
    border-radius: 12px;
    background: white;
    // margin-bottom: 25px;
    overflow: hidden;
    color: $main-text-color;
    font-size: 14px;
    border: 1px solid $border-color;

    a {
      color: $main-text-color;

      &:hover {
        text-decoration: none;
      }
    }

    a.button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .custom-breadcrumbs .breadcrumbs-divider {
      position: relative;
      top: -2px;
    }

    .sdg-goal-icon {
      width: 45px;
    }

    .in-favor-against {
      button {
        font-size: 19px;
        width: 34px;
        height: 34px;
      }

      .percentage {
        text-align: center;
        color: inherit;
        line-height: 1.5 !important;
      }
    }
  }

  .resource-item--image-container {
    height: 180px;
    width: 100%;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .resource-item--image-ontop-item-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;

    .projekt-event-item-calendar {
      margin-left: 17px;
      margin-top: 17px;
      justify-content: space-between;
      width: auto;
      display: inline-flex;

      .projekt-event-item-calendar--enddatetime {
        margin-top: 0;
        align-items: center;
        display: flex;
      }

      .projekt-event-item-calendar--separator {
        line-height: 1;
        font-size: 60px;
        margin-top: 6px;
      }
    }
  }

  .resource-item--title {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    width: 200px;
    line-height: 1;
    margin-top: -2px;

    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    &:nth-child(n+3) {
      width: 100%;
    }
  }

  .resource-item--date {
    font-size: 11px;
  }

  .resource-item--description {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 1.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 86px;

    p {
      font-size: 15px;
    }
  }

  .resources-list--inner {
    display: flex;
    // grid-gap: 15px;
    grid-gap: 12px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .resources-list--not-items-message {
    width: 100%;
    margin-top: 20px;
  }

  // .resource-item--tags-in-body {
  //   display: none;
  // }

  .resource-item--tags {
    display: flex;
    min-width: 100px;
    margin-bottom: 15px;;
  }

  .resource-item--tag {
    font-size: 11px;
    text-transform: uppercase;
  }

  .resource-item--tag::before {
    content: '|';
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
  }

  .resource-item--tag:first-child {
    border-right: none;
  }

  .resource-item--tag:first-child::before {
    display: none;
  }

  .resource-item--head-title {
    .custom-breadcrumbs .breadcrumbs-item {
      font-size: 14px;
    }
  }

  .resource-item--head-title-projekt-breadcrumbs {
    display: none;
  }

  .resource-item--body {
    padding: 0 25px 15px;
    // min-height: 115px;
    // min-height: 142px;
    display: flex;
    flex-direction: column;
    min-height: 143px;

    .resource-item--additional-body {
      margin-top: 12px;
    }
  }

  .resource-item--sdgs {
    display: flex;
    padding: 12px 25px;
    border-top: 1px solid $border-color;
  }

  .resource-item.projekt-list-item {
    .resource-item--body {
      // min-height: 168px;
      min-height: 208px;
    }
  }

  .resource-item--footer {
    display: flex;
    justify-content: center;
    height: 80px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $border-color;
    // position: relative;

    .button {
      margin-bottom: 0;
    }

    .callout.warning, .callout.success, .callout.error,
    .callout.alert, .participation-not-allowed,
    .participation-not-allowed p{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      height: 100%;
      // display: flex;
      margin-bottom: 0;
      align-items: center;
      line-height: 1.3;
      justify-content: center;
      align-items: center;
      text-align: left;
      border: none;
      margin: 0;
      padding: 10px;
    }

    .participation-not-allowed p{
      display: flex;
    }

    p.investment-project-amount {
      margin-bottom: 0;
    }
  }

  .resource-item--wide-head-title--date-range {
    display: none;
    padding: 0 25px 25px;
  }

  .resource-item--footer-section {
    height: 100%;
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    text-align: center;
    position: relative;

    &:last-child {
      border-left: 1px solid $border-color;
    }

    .budget-item--vote-button {
      height: 100%;
      width: 100%;

      .total-supports {
        // display: none;
        // padding-left: 8px;
        width: 50%;
      }

      .in-favor {
        // padding-right: 8px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $border-color;
        width: 50%;

        .button {
          padding: 0 10px 0;
        }
      }

      .supports {
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }
    }

    .supports.ballot {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;

        &.remove {
          justify-content: space-between;
        }

        &.add {
          justify-content: center;

          .investment-project-amount {
            margin-left: 55px;
          }
        }
      }

      br {
        display: none;
      }

      .button {
        padding: 0 10px 0;
      }

      p {
        padding-top: 6px;
      }

      .icon-check-circle {
        display: none;
      }

      .button-remove-support {
        margin-top: 11px;
      }

      .participation-not-allowed {
        display: none;
      }
    }

    .budget-investment-ballot {
      width: 100%;
      // padding: 0 30px;
      padding: 0 15px;
      height: 100%;

      .votes-info strong {
        font-size: 13px;
      }

      button {
        font-size: 14px;
      }
    }

    .deficiency-report-status {
      font-size: 16px;
      width: 100%;
      padding-left: 25px;
      display: flex;
      align-items: center;
      font-weight: 500;
      justify-content: center;

      i {
        margin-right: 10px;
        font-size: 30px;
      }
    }
  }

  .resource-item--footer-section + .resource-item--footer-section {
    min-width: 50%;
    max-width: 50%;
  }

  .resource-item--author {
    display: flex;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 10px;
  }

  img.resource-item--author-photo, .resource-item--author-photo {
    width: 35px;
    height: 35px !important;
    border-radius: 50%;
    margin-right: 12px;
    background: #c5c5c5;
  }

  .resource-item--additional-body {
    .projekt-phase-link {
      text-decoration: underline;
      display: block;
      color: inherit;
      text-align: left;
      word-wrap: nowrap;
    }

    i {
      width: 24px;
    }
  }

  .resource-item--sdgs {
    .sdg-goal-tag-list, .sdg-target-tag-list {
      display: flex;
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;

      li {
        margin-right: 8px;
      }
    }
  }

  .resource-item--subline {
    text-transform: uppercase;
  }

  .resource-item--content {
    .resource-item--wide-head-title {
      display: none;
    }
  }

  .resource-item--wide-head-title--date-range {
    display: none;
  }

  .resource-item--last-tag {
    display: none;
  }


  .resource-item--body-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .resource-item--image-placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    flex-direction: column;
    color: $main-text-color;
  }

  .resource-item--image-placeholder-icon {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .resource-item--author-in-wide-head-title {
    display: none;
  }

  .resource-item--head-title  {
    height: 45px;
    // padding: 0 25px;
    padding-left: 25px;
    background: $brand;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    a {
      color: white;
    }

    i {
      margin-right: 5px;
    }
  }

  .resource-item--footer-section {
    // &:last-child {

    //   display: none;
    // }
  }

  .resource-item--additional-body-in-footer {
    display: none;
  }

  @media (min-width: 970px) {
    .resources-list.-wide {
      .resources-list--inner {
        flex-direction: column;
      }

      .resource-item {
        width: 100%;
        min-height: 260px;
        height: auto;
        // max-width: 865px;
        display: grid;
        grid-template-columns: 265px 1fr;
        grid-template-rows: 45px 1fr;
        grid-template-areas:
          "image header-title"
          "image body";
        max-width: 930px;

        .resource-item--body-wrapper {
          .resource-item--author {
            display: none;
          }
        }

        .resource-item--head-title {
          grid-area: 1 / 2 / 2 / 4;
          padding-right: 25px;
        }


        .resource-item--head-title-projekt {
          display: none;
        }

        .resource-item--head-title-projekt-breadcrumbs {
          display: block;
        }

        .resource-item--content {
          grid-area: 2 / 2 / 4 / 4;
          display: flex;
          flex-direction: column;
        }

        .resource-item--image-container {
          grid-area: 1 / 1 / 3 / 2;
          height: auto;
          margin-bottom: 0;
        }

        .resource-item--author {
          margin-bottom: 0;
          flex-direction: row-reverse;
          padding: 0;

          a {
            color: white;
          }
        }

        .resource-item--description-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
        }

        .resource-item--footer-section  {
          .resource-item--additional-body {
            width: 100%;
            padding: 0px 18px;

          }

          .participation-not-allowed {
            font-size: 16px;
            line-height: inherit;
          }
        }

        .resource-item--footer-section + .resource-item--footer-section {
          min-height: 50%;
          max-height: 50%;
          min-width: 100%;
          max-width: 100%;
        }

        .resource-item--image {
          height: auto !important;
          max-height: none;
        }

        .resource-item--additional-body-in-footer {
          display: flex;
        }

        .resource-item--author-in-wide-head-title {
          display: flex;
          padding: 0;
          margin-bottom: 0;

          .resource-item--author-photo {
            margin-right: 0;
            margin-left: 12px;
            width: 32px;
            height: 32px !important;
          }
        }

        .resource-item--author-in-card {
          display: none;
        }

        .resource-item--footer-section:last-child {
          border-left: 0;
        }

        .resource-item--body {
          .resource-item--additional-body {
            display: none;
          }
        }

        .resource-item--last-tag {
          display: block;
        }

        .resource-item--body-wrapper {
          height: 100%;
          flex: 1;
        }

        .resource-item--body {
        }

        .resource-item--wide-head-title {
          // height: 45px;
          background: $brand;
          color: white;
          padding: 5px 27px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0;
          min-height: 45px;

          .resource-item--wide-head-title--date-range {
            display: flex;
            font-size: 14px;
          }

          .resource-item--tags {
            display: none;
          }
        }

        .resource-item--tags {
          // margin-bottom: 12px;
          margin-bottom: 10px;
        }

        .resource-item--title {
          font-size: 23px;
          width: 100%;
        }

        .resource-item--description {
          // font-size: 16px;
        }

        .resource-item--tag {
          font-size: 13px;
        }

        .resource-item--body-wrapper {
          display: flex;
        }

        .resource-item--body-and-sdgs {
          width: 65%;
          padding-top: 15px;
          padding-left: 28px;
          padding-right: 20px;
          padding-bottom: 15px;
          height: 100%;
        }

        .resource-item--sdgs {
          border-top: none;
          padding: 0;
        }

        .resource-item--body {
          border-bottom: none;
          padding: 0;
          max-height: none;
        }

        .resource-item--body-heading {
          margin-bottom: 5px;
        }

        .resource-item--footer {
          height: 100%;
          width: 120px;
          width: 35%;
          flex-direction: column;
          font-size: 14px;
          align-items: center;
          border-top: none;

          border-left: 1px solid $border-color;
        }

        .resource-item--date {
          font-size: 14px;
        }

        .resource-item--footer-section {
          width: 100%;
          justify-content: center;

          &:first-child {
            border-bottom: 1px solid $border-color;
          }

          &:last-child {
            display: flex;
          }

          .deficiency-report-status {
            display: flex;
            align-items: center;
            padding-left: 0;
            flex-direction: column;
            justify-content: center;

            i {
              margin-right: 0;
              font-size: 30px;
              margin-bottom: 7px;
            }
          }
        }

        .resource-item--image-container .resource-item--image-blur {
          transform: scale(1.1);
          height: 100% !important;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: $mobile-viewport-start) {
    .resource-item {
      width: 100%;
      max-width: 310px;
    }
  }
}
