.hide-on-mobile {
  @media screen and (max-width: 650px) {
    display: none !important;
  }
}

.progress {
  height: 1.3rem;
  border-radius: 0.3rem;

  .meter {
    height: 100%;
    color: #FFA42D;
  }
}

.supports {
  .button {
    background-color: #FFA42D;
    color: black;

    &:hover {
      color: #ffbf6b;
    }
  }
}
