.hide-on-mobile {
  @media screen and (max-width: 650px) {
    display: none !important;
  }
}

.progress {
  height: 1.3rem;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative;

  .meter {
    height: 100%;
    background-color: #FFA42D;
    display: block;
  }

  .percentage {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
  }
}

.supports {
  .button {
    background-color: #FFA42D;
    color: black;

    &:hover {
      background: #ffbf6b;
      color: black;
    }
  }

  .in-favor {
    .button {
      margin-bottom: 5px;
    }
  }
}
