.new-custom-design {
  .sidebar-placeholder {

  }

  .card-section--header {
    // font-size: 18px;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .system-users-list {
  }

  .system-users-list--title {
    margin-bottom: 10px;
  }

  .system-users-list--images {
    display: flex;
  }

  .system-users-list--image {
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid white;
  }

  .system-users-list--image:first-child {
    position: static;
  }

  .system-users-list--image:nth-child(2) {
    left: -15px;
  }

  .system-users-list--image:nth-child(3) {
    left: -30px;
  }

  .system-users-list--image:nth-child(4) {
    left: -45px;
  }

  .system-users-list--image:nth-child(5) {
    left: -60px;
  }

  .sidebar-card--section {
    padding: 20px 25px;

    h2 {
      display: none;
    }

    .resource-info-title {
      display: none;
    }

    .participation-not-allowed {
      margin-top: 15px;
    }
  }

  .sidebar-card--header {
    font-size: 16px;
    margin-bottom: 12px;
    color: black;
    font-weight: 500;

    i {
      margin-right: 3px;
      color: $brand;
    }
  }

  .sidebar-card--section + .sidebar-card--section {
    border-top: 1px solid $border-color;
  }

  .sidebar-active-users-section {
    i {
      width: 15px;
      margin-right: 5px;
    }
  }

  .sidebar-card {
    position: relative;
    background: white;
    border-radius: 10px;
    border: 1px solid $border-color;
    margin-bottom: 15px;
    color: $main-text-color;
    font-size: 14px;

    p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    input {
      margin-bottom: 10px;
    }

    .sidebar-divider {
      display: none;
    }

    .small-6, .large-3, .column {
      width: 100%;
      float: none;
      margin: 0;
    }

    .globalize-languages.highlight {
      background: transparent;
    }
  }

  .sidebar-card--separator {
    position: relative;
    border-top: 1px solid $border-color;
  }

  .sidebar {
    min-width: 300px;
    max-width: 300px;
  }

  // Overide old styles
  .sidebar-divider {
    display: none;
  }

  .sidebar-title {
    border-top: none;
    display: none;
    font-size: 16px;
    margin-bottom: 12px;
    color: black;
    text-transform: none;
    font-weight: bold;
    padding-top: 0;

    i {
      color: $brand;
      margin-right: 8px;
    }
  }

  .sdg-tag-icon:before {
    top: 0;
    color: $brand;
    margin-right: 8px;
  }

  .sdg-goal-tag-cloud {
    margin-top: 0;
  }

  .projekt-tag-chip-icon:before {
    margin-right: 8px;
    color: $brand;
  }

  .geozone-affiliation-filter {
    li {
      list-style: none;
    }
  }

  .header--responsive-menu-wrapper {
    display: none;
  }


  @media (max-width: $small-tablet-viewport-start) {
    .sidebar {
      // display: none;
    }
  }

  @media screen and (max-width: $mobile-viewport-start) {
    .header--responsive-menu-wrapper {
      display: block;
    }

    .header--responsive-menu {
      display: none;
    }
  }
}
