.button.button-twitter,
.button.button-facebook,
.button.button-google,
.button.button-wordpress {
  color: $text;
  font-weight: bold;

  &::before {
    font-size: rem-calc(24);
    margin-right: $font-icon-margin;
  }
}

.button.button-twitter {
  background: #ecf7fc;
  border-left: 3px solid #45b0e3;

  &::before {
    color: #45b0e3;
  }
}

.social-share-button .ssb-icon {
  background-image: none;
  color: #fff;
  height: $icon-width;
  line-height: $icon-width;
  text-align: center;
  width: $icon-width;

  &::before {
    font-size: $icon-width / 2;
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background: #fff;
  }
}

.ssb-twitter {
  background: #45b0e3;

  &:hover,
  &:focus {
    color: #40a2d1;
  }
}

.button.button-facebook {
  background: #ebeef4;
  border-left: 3px solid #3b5998;

  &::before {
    color: #3b5998;
  }
}

.ssb-facebook {
  background: #3b5998;

  &:hover,
  &:focus {
    color: #354f88;
  }
}

.button.button-google {
  background: #fcedea;
  border-left: 3px solid #de4c34;

  &::before {
    color: #de4c34;
  }
}

.button.button-wordpress {
  background: #dcdde3;
  border-left: 3px solid #2f2f33;

  &::before {
    color: #2f2f33;
  }
}

.ssb-telegram {
  background: #08c;

  &:hover,
  &:focus {
    color: #40a2d1;
  }
}

.ssb-whatsapp_app {
  background: #43d854;

  &:hover,
  &:focus {
    color: #43d854;
  }
}
