.new-custom-design {
  .additional-content .filter-subnav {
    background-color: transparent;

    h3 {
      font-size: 22px;
    }
  }

  .submenu h2 {
    font-size: 16px;
  }

  .tabs h2, .tabs h3 {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0;
  }

  .tabs .tabs-title {
    margin-right: 0;
  }
}
