.mb-5 {
  margin-bottom: 5px;
}

.width-100 {
  width: 100%;
}

.u-flex {
  display: flex;
}

.u-justify-center {
  justify-content: center;
}

.d-none, .custom-new-design .d-none {
  display: none;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}
