<div class='budget-subnav'>
  <% budget_subnav_items_for(budget).each do |item| %>
    <%= link_to item[:text], item[:url], class: "budget-subnav-item #{'is-active' if item[:active] }", remote: true, onclick: '$(".spinner-placeholder").addClass("show-loader")' %>
  <% end %>
</div>
