<%= render Images::DirectUploadComponent.new(@f, imageable: @imageable) do |c| %>
  <% c.placeholder do %>
    <div class="user-resource-image-upload--placeholder">
      <div class="user-resource-image-upload--placeholder-inner">
        <div class="user-resource-image-upload--text">
          Beitr채ge mit aussagekr채ftigem Bild erhalten durchschnittlich 34% mehr Unterst체tzung
        </div>
        <div class="user-resource-image-upload--label">
          <div class="user-resource-image-upload--plus">
            +
          </div>
          <div class="user-resource-image-upload--label-title">
            Bild hinzuf체gen
          </div>
          <div class="user-resource-image-upload--hint">
            Am besten eignet sich ein Bild im Format 490 x 290 Pixel
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
