<!DOCTYPE html>
<html lang="de">
<head>
  <title>Error 403 | Forbidden: Sie sind nicht berechtigt diese Seite aufzurufen.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  body {
    background: #065687 url('/errors_bg.jpg');
    color: #2E2F30;
    font-family: arial, sans-serif;
    margin: 0;
    text-align: center;
  }

  h1 {
    font-size: 160px;
    line-height: 160px;
  }

  h1, h2, h3, h4 {
    color: white;
    margin: 0;
  }

  div.error {
    margin-top: -144px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  a {
    color: #fff;
  }
  </style>
</head>

<body>
  <div class="error">
    <h1>403</h1>
    <h2 style="margin-top:20px;">Sie sind nicht berechtigt diese Seite aufzurufen.</h2>
    <% if @individual_group_value_names.any? %>
      <h4 style="margin-top:5px"><%= "Die Sichtbarkeit ist beschränkt auf: #{@individual_group_value_names.join(", ")}" %></h4>
    <% end %>
    <h3 style="margin-top:30px">
      <a href="/users/sign_in">Anmelden</a> oder <a href="/users/sign_up">Registrieren</a> um Zugriff zu erhalten.
    </h3>
    <h3 style="margin-top:100px">
      <a href="/">Zurück zur Startseite</a>
    </h3>
  </div>
</body>
</html>
