<main class="user-page">
  <div class="flex-layout">
    <div class="main-column">
      <%= render(Users::ProfileBannerComponent.new(user: current_user)) %>
      <%= render Users::NewPublicActivityComponent.new(@user) %>
    </div>
    <aside class="sidebar">
      <%= render Shared::SidebarCardComponent.new(title: t("custom.users.contact"), icon_name: "envelope-open") do |c| %>
      <% end %>
    </aside>
  </div>
</main>
