<% if reason_for_not_allowing_new_proposal %>
  <div class="callout warning">
    <%= sanitize(
          t("budgets.investments.index.sidebar.cannot_create_reasons.#{reason_for_not_allowing_new_proposal}",
            sign_in: link_to_signin,
            sign_up: link_to_signup,
            verify: link_to_verify_account,
            city: Setting["org_name"],
            geozones: @budget.budget_phase.geozone_restrictions_formatted
          )
        ) %>
  </div>
<% elsif can?(:create, Budget::Investment.new(budget: @budget)) %>
  <%= link_to t("budgets.investments.index.sidebar.create"),
              new_budget_investment_path(@budget, origin: 'projekt'),
              class: "button expanded" %>
<% end %>
