@import "amsify.suggestags";
@import "annotator.min";
@import "c3";
@import "social-share-button";
@import "font-awesome-sprockets";
@import "font-awesome/variables";
@import "font-awesome/path";
@import "font-awesome/mixins";
@import "font-awesome/core";
@import "font-awesome/icons";
@import "jquery-ui/themes/base/theme";
@import "jquery-ui/themes/base/autocomplete";
@import "jquery-ui/themes/base/datepicker";
@import "jquery-ui/themes/base/sortable";
@import "leaflet/dist/leaflet";
@import "leaflet.markercluster/dist/MarkerCluster";
@import "leaflet.markercluster/dist/MarkerCluster.Default";
@import "leaflet-geosearch/dist/geosearch";
@import "leaflet-gesture-handling/dist/leaflet-gesture-handling.min";
@import "@geoman-io/leaflet-geoman-free/dist/leaflet-geoman";

@import "foundation_and_overrides";
@import "fonts";
@import "icons";
@import "mixins/*";

@import "admin";
@import "advanced_search";
@import "annotator_overrides";
@import "autocomplete_overrides";
@import "banner";
@import "datepicker_overrides";
@import "layout";
@import "participation";
@import "milestones";
@import "pages";
@import "dashboard";
@import "in_favor_against";
@import "legislation";
@import "legislation_process";
@import "legislation_process_form";
@import "moderation_actions";
@import "notification_item";
@import "community";
@import "search_results_summary";
@import "stats";
@import "sticky_overrides";
@import "tags";
@import "admin/**/*";
@import "budgets/**/*";
@import "debates/**/*";
@import "layout/**/*";
@import "machine_learning/**/*";
@import "moderation/**/*";
@import "proposals/**/*";
@import "relationable/**/*";
@import "sdg/**/*";
@import "sdg_management/*";
@import "sdg_management/**/*";
@import "subscriptions";
@import "widgets/**/*";

@import "custom";
@import "custom/**/*";


// ::-moz-selection { /* Code for Firefox */
//   color: white;
//   background: black;
// }

// ::selection { /* Code for Firefox */
//   color: white;
//   background: black;
// }
