.custom-new-design {
  .sub-nav-items {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;

    a {
      text-decoration: underline;
      margin-right: 1rem;

      &.is-active {
        font-weight: bold;
      }
    }
  }
}
