<%= form_for [:admin, @registered_address_grouping] do |f| %>

  <%= render "shared/errors", resource: @registered_address_grouping %>

  <div class="small-12 column">
    <%= f.text_field :name %>
  </div>

  <div class="small-12 column">
    <%= f.submit(value: t("custom.admin.deficiency_reports.categories.form.submit_button"),
                class: "button success") %>
  </div>
<% end %>
