<%= back_link_to %>

<h2 class="margin-top"><%= t("admin.questions.edit.title") %></h2>

<div class="poll-question-form">
  <%= render "admin/poll/questions/form", form_url: polymorphic_path([@namespace, @question]) %>
</div>
