<%if projekt.all_projekt_labels_in_tree.any? %>
  <div class="sidebar-divider"></div>
  <h2 class="sidebar-title projekt-tag-chip-category projekt-tag-chip-icon"><%= t("shared.tags_cloud.labels") %></h2>
  <br>

  <div id="projekt-labels-sidebar" class="">
    <%= render Shared::ProjektLabelsComponent.new(
      projekt_id: projekt.id,
      scope: :all_in_tree,
      sidebar_filter_link: true,
      css_class: 'js-sidebar-filter-projekt-label') %>
  </div>
<%end%>
